<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue - Aula 06 - Dados e Métodos</title>
</head>
<body>
    
    <div id="app">
        {{ numero }}
        <br>
        {{ n1 }}
        <br>
        <input type="number" name="numero" id="numero" v-model="numero">
        <input type="number" name="n1" id="n1" v-model="n1">
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    
    <script>
        data = {
            numero: 1,
            n1: undefined
        };

        Object.freeze(data);

        app = new Vue({
            el: '#app',
            // data: Object.assign({}, data)
            data: data
        })
    </script>

</body>
</html>